body{
    background: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.top{

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top a{
    text-decoration: none;
    color: green;
    margin-right: 70px;
    font-size: 20px;
}
.top .name{
    font-size: 30px;
    padding-right: 200px;
    margin-left: 10px;
    color: green;
}
.head .login{
    text-decoration: none;
    background-color: aliceblue;
    color: green;
    margin-right: 70px;
    font-size: 17px;
    font-weight: bold;
}
.head .nav2{
    margin-left: -200px;
}
.head .bot h1{
    margin-left: 90px;
    color: green;
    font-size: 40px;
}
.head .bot .sec{
    margin-left: 150px;
}
.bot h3{
    color: green;
    margin-left: 200px;
}
.bot .login{
    margin-left: 400px;
}
.head .login:hover{
    opacity: 0.5;
}
.hr{
    background-color: red;
    height: 3px;
}
